# Python cache
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class

# Env
.env
.venv/
env/
venv/
ENV/

# Scraper/debug folder
backend/scrape/
backend/data/
.playwright-icp/

# Optional data
*.png
*.jpg
*.jpeg
*.gif
*debug*
debug_/
node_modules/
.DS_Store
.idea/
.vscode/